<form action="/compras"> 
    <h3>compra cadastrada com sucesso:  "cnpj do fornecedor= {{cnpjFornecedor}} " / "data da compra= {{data_compra}} " / "id do produto= {{idproduto}} " /" quantidade=  {{quantidade}} "/ " valor unitário= {{valor_unitario}} "</h3>
    <input type="submit" value="voltar a compras">
     <input type="submit" formaction="/" value="voltar ao menu inicial " name="btConsultar">

</form>