<form action="/vendas"> 
    <h3>venda cadastrada com sucesso:  "cpf cliente  {{cpfCliente}}" / "data da venda " {{dataVenda}} / " id do produto " {{idProduto}} / {{quantidade}} / {{valorUnitario}}</h3>
    <input type="submit" value="voltar vendas">
    <input type="submit" formaction="/" value="voltar ao menu inicial " name="btConsultar">
</form>